/* Default */
body {
    flex-wrap: wrap;
}

header {
    margin: 0 0 50px 0;
}

img {
    width: 50%;
    margin: 5px;
    border: #090809 1px solid;
    border-radius: 5px;
    box-shadow: #090809 0 0 15px 0;
    cursor: pointer;
    transition: 0.25s;
}

img:hover {
    scale: 1;
    box-shadow: #090809 0 0 15px 0;
    transition: 0.25s;
}

a img {
    width: 300px;
}

section {
    display: grid;
    place-items: center;
}

.framesContainer {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
}

.frame {
    margin: 10px;
    width: 200px;
}

.frame:hover {
    scale: 1.05;
    box-shadow: #090809 0 0 5px 0;
    transition: 0.25s;
}