/* Title Styling */
h1 {
    text-align: center;
    margin: 50px 0;
}

/* Books Section Styling */
.books {
    background-color: #D7D0C8;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
    margin: 10px 20px;
    border: 5px dashed #50752c;
    border-radius: 25px;
}

h2 {
    background-color: #adadad;
    border: 3px solid #95A78D;
    border-radius: 10px;
    width: 130px;
    margin: 10px 20px;
    padding: 40px 70px;
    box-shadow: #090809 5px 5px 10px;
    cursor: pointer;
    transition: 0.5s;
}

h2:hover {
    transform: translate(2px, 5px);
    box-shadow: #090809 2px 2px 10px;
    transition: 0.25s;
}